.Counter-name{
  margin-left: 14px;
  margin-top: 70px;
}
.img{
  height: 192px;
    width: 263px;
    border-radius: 21px;
}
.like{
  height: 30px;
  width: 33px;
}

button{
  border-style: none;
  text-decoration: none;
  background-color: transparent;
  margin-top: -29px;
    margin-left: 45px;
}
.num{
  margin-top: -23px;
    margin-left: 43px;
}
.num1{
  margin-top: -31px;
  margin-left: 43px;
}
.main{
  display: flex;
  gap: 40px;
  margin-top: 120px;
}